<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">

    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">

    <link href='../fullcalendar/core/main.css' rel='stylesheet'/>
    <link href='../fullcalendar/daygrid/main.css' rel='stylesheet'/>
    <link href='../fullcalendar/timegrid/main.css' rel='stylesheet'/>
    <link href='../fullcalendar/list/main.css' rel='stylesheet'/>

    <script src='../fullcalendar/core/main.js'></script>
    <script src='../fullcalendar/daygrid/main.js'></script>
    <script src='../fullcalendar/interaction/main.js'></script>
    <script src='../fullcalendar/timegrid/main.js'></script>
    <script src='../fullcalendar/list/main.js'></script>


    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <!--        <fieldset class="layui-elem-field layuimini-search">-->
        <!--            <legend>搜索信息</legend>-->
        <!--            <div style="margin: 10px 10px 10px 10px">-->
        <!--                <form class="layui-form layui-form-pane" action="">-->
        <!--                    <div class="layui-form-item">-->
        <!--                        <div class="layui-inline">-->
        <!--                            <label class="layui-form-label">时间</label>-->
        <!--                            <div class="layui-input-inline">-->
        <!--                                <input type="text" name="typeDesc" autocomplete="off" class="layui-input">-->
        <!--                            </div>-->
        <!--                        </div>-->

        <!--                        <div class="layui-inline">-->
        <!--                            <label class="layui-form-label">状态</label>-->
        <!--                            <div class="layui-input-inline">-->
        <!--                                <input type="text" name="typeDesc" autocomplete="off" class="layui-input">-->
        <!--                            </div>-->
        <!--                        </div>-->

        <!--                        <div class="layui-inline">-->
        <!--                            <a class="layui-btn" lay-submit="" lay-filter="day-execution-search-btn">搜索</a>-->

        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </fieldset>-->

        <!--        <button class="layui-btn data-add-btn" id="day-execution-add">添加</button>-->


        <div>


        </div>

        <div>
            <div id='calendar'></div>
        </div>
    </div>
</div>


</body>
<script src="../layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="../layuimini/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="../layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>

    layui.use(['table', 'layuimini', 'element', 'utilTool', 'form'], function () {
        var layer = layui.layer //弹层
            , table = layui.table //表格
            , $ = layui.jquery
            , form = layui.form
            , utilTool = layui.utilTool

        // $('#day-execution-add').click(function () {
        //
        //     layer.open({
        //         type: 2,
        //         title: "增加类型",
        //         area: ['700px', '530px'],
        //         shade: 0.7,
        //         shadeClose: true,
        //         scrollbar: true,
        //         resize: true,
        //         maxmin: true,
        //         content: ["/plan/dayExecutionPage", 'yes'],
        //     });
        //
        // })


    })


    document.addEventListener('DOMContentLoaded', function () {


        var eventData = [];


        var calendarEl = document.getElementById('calendar');

        // calendar


        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'timeGrid', 'list', 'interaction'],
            customButtons: {
                myCustomButton: {
                    text: '添加',
                    click: function (obj, obj2) {
                        // alert('clicked the custom button!');
                        // console.log(obj);
                        // console.log(obj2);
                        // $('#day-execution-add').click(function () {
                        layui.layer.open({
                            type: 2,
                            title: "增加类型",
                            area: ['900px', '530px'],
                            shade: 0.7,
                            shadeClose: true,
                            scrollbar: true,
                            resize: true,
                            maxmin: true,
                            content: ["/plan/dayExecutionPage", 'yes'],
                        });

                        // })
                    }
                },
            },
            header: {
                left: 'prev,next today myCustomButton',
                center: 'title',
                right: 'prevYear,nextYear,dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            buttonText:{
                prev: '‹', // ‹
                next: '›', // ›
                prevYear: '«', // «
                nextYear: '»', // »
                today: '今天',
                month: '月',
                week: '周',
                day: '日',
                prevYear:'上一年',
                nextYear:'下一年'
            },
            // defaultDate: '',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            firstDay: 1, //一周的第一天，默认是0（周日），1（周一）
            locale: 'zh-cn',
            editable: true,
            dateClick: function () {
                alert('a day has been clicked!');



            },
            eventClick: function (info) {
                // alert(info);
                // console.log(info);
                // console.log(info.event);
                console.log(info.event);
                console.log(info.event.id);

                layui.layer.open({
                    type: 2,
                    title: "增加类型",
                    area: ['900px', '530px'],
                    shade: 0.7,
                    shadeClose: true,
                    scrollbar: true,
                    resize: true,
                    maxmin: true,
                    content: ["/plan/dayExecutionPage", 'yes'],
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.contents().find("#primaryKey").val(info.event.id);
                    },
                });


            },
            events: function (start, callback) {
                console.log('------');
                var startDate = start.start;
                var endDate = start.end;

                var startTime = startDate.getTime();
                var endTime = endDate.getTime();
                console.log('----');
                $.ajax({
                    url: '/planDayExecution/getAllByStartTime/' + startTime+ '/' + endTime,
                    method: 'get',
                    // data: JSON.stringify(ids),
                    // contentType: 'application/json;charset=UTF-8',
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.success) {
                            callback(res.data)
                        } else {
                            layer.msg(res.msg, {
                                icon: 7
                            });
                        }
                    },
                    error: function (data) {
                    }
                });
            }
        });

        calendar.render();


    });


</script>
</html>
