<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>计划主页面</title>
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-inline">
                                <input type="text" name="typeDesc" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="plan-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <div>
            <div class="layui-btn-group">
                <button class="layui-btn data-add-btn" id="plan-select">选择</button>
<!--                <button class="layui-btn layui-btn-danger data-delete-btn" id="plan-batch-del">删除</button>-->
            </div>
            <!--                <table id="menu-table" class="layui-table" lay-filter="munu-table"></table>-->
            <table class="layui-hide " id="plan-table" lay-filter="plan-table"></table>
        </div>
    </div>
</div>

<!--<script type="text/html" id="plan-operate">-->
<!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->

<script src="../layuimini/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="../layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>

</div>

</body>
<script>
    layui.use(['table', 'layuimini', 'element', 'utilTool', 'form'], function () {
        var layer = layui.layer //弹层
            , table = layui.table //表格
            , $ = layui.jquery
            , form = layui.form
            , utilTool = layui.utilTool


        table.render({
            elem: '#plan-table'
            , height: 400
            , url: '/plan/pageList/' //数据接口
            , method: 'post'
            , contentType: 'application/json;charset=UTF-8'
            , title: '计划类型'
            , page: true //开启分页
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type: 'radio', fixed: 'left'}
                , {field: 'type', title: '年/季/月/周', minWidth: 120,templet: function (d) {
                        if (d.type == 1) {
                            return '年';
                        }
                        if (d.type == 2) {
                            return '季';
                        }
                        if (d.type == 3) {
                            return '月';
                        }
                        if (d.type == 4) {
                            return '周';
                        }

                    }},
                {field: 'title', title: '主题', width: 120}
                , {field: 'startTime', title: '开始日期', width: 120,}
                , {field: 'endTime', title: '结束日期', width: 120}
                , {field: 'planState', title: '计划状态', width: 120,templet: function (d) {
                        if (d.planState == '1') {
                            return '计划';
                        }
                        if (d.planState == '2') {
                            return '执行';
                        }
                        if (d.planState == '3') {
                            return '暂停';
                        }
                        if (d.planState == '4') {
                            return '延后';
                        }
                        if (d.planState == '5') {
                            return '完成';
                        }
                        return '';

                    }}
            ]]
        });

        form.on('submit(plan-search-btn)', function (data) {
            console.log(data.field);
            table.reload('plan-table', {
                page: {
                    curr: 1,//重新从第 1 页开始
                },
                where: {
                    condition: data.field
                },
            }, 'data');
        })

        // 增加

        // 选择
        $('#plan-select').click(function () {
            var checkStatus = table.checkStatus('plan-table')
                , data = checkStatus.data;
            if(data && data.length == 1){
                console.log(data);
                // console.log(parent.document.getElementById('#planTitle'));
                // parent.document.getElementById('#planTitle').value=data[0]['title'];

                parent.setPlanObj(data[0]);

                // parent.location.reload();// 刷新父页面
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index);

            }else{
                layer.msg('请选择一行记录');
            }
            // var ids = utilTool.tablePrimaryKeyList(data);
            // console.log();
            // layer.confirm('确定要批量删除行么', function (index) {
            //
            // });
        });


        //监听行工具事件
        table.on('tool(plan-table)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    // obj.del(); //删除对应行（tr）的DOM结构
                    $.ajax({
                        url: '/plan/remove/' + data.id,
                        method: 'get',
                        dataTye: 'JSON',
                        success: function (res) {
                            if (res.success) {
                                layer.close(index);
                                table.reload('plan-table', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                }, 'data');
                            }
                        },
                        error: function (data) {
                        }
                    });
                });
            } else if (layEvent === 'edit') {
                console.log(data);
                layer.open({
                    type: 2,
                    title: "修改类型",
                    area: ['700px', '530px'],
                    fix: false, //不固定
                    shade: 0.7,
                    shadeClose: true,
                    scrollbar: true,
                    maxmin: true,
                    content: ["/plan/planPage", 'yes'],
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.contents().find("#primaryKey").val(data.id);
                    },
                });


            }
        });


    });
</script>
</html>
